.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.login-logo {
	display: flex;
	align-items: center;
	color: #1976d2;
	margin-bottom: 15px;
}
.login-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 300px;
}
.login-logo-text {
	margin-left: 15px;
	font-size: 1.9rem;
	font-weight: 800;
}
.login-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.forgot-password-link {
	padding-bottom: 10px;
}
.forgot-password-link,
.register-link {
	margin-top: 5px;
	text-align: center;
}

.login-button {
	width: 100%;
}
.back-to-login-button {
	padding-top: 20px;
	width: 100%;
}
